NEXT_PUBLIC_DISCORD_ID=000000000000000000
NEXT_PUBLIC_NAME=Aarav
NEXT_PUBLIC_USERNAME=@aarav
NEXT_PUBLIC_TAGLINE=Turning ideas into code, communities & digital experiences.
NEXT_PUBLIC_BIO=Coder • Website Developer • Discord Developer • Minecraft Developer • Discord Server Cloner
NEXT_PUBLIC_DISCORD_INVITE=https://discord.gg/yourserver
NEXT_PUBLIC_GITHUB_URL=https://github.com/yourusername
NEXT_PUBLIC_YOUTUBE_URL=https://youtube.com/@yourchannel
NEXT_PUBLIC_INSTAGRAM_URL=https://instagram.com/yourusername
NEXT_PUBLIC_TWITTER_URL=https://x.com/yourusername
NEXT_PUBLIC_AGE=20
NEXT_PUBLIC_ROLE=DEV
NEXT_PUBLIC_GENDER=Developer
NEXT_PUBLIC_LOCATION=India
NEXT_PUBLIC_ORBS=0
NEXT_PUBLIC_AVATAR_DECORATION_URL=
NEXT_PUBLIC_PROFILE_EFFECT_URL=
NEXT_PUBLIC_PROFILE_FRAME_URL=
NEXT_PUBLIC_SITE_TITLE=Your Name
NEXT_PUBLIC_SITE_DESCRIPTION=Personal profile website
